body{
	background-color:#23241f;
}

#monForm{
	position: absolute; 
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	padding: 3em;
	max-width: 40em;
}

#timer{
	font-weight: bold;
	/*font-size: 1.3em;*/
}

.mon-btn-close{
	position:absolute; 
	top:2%; 
	right:4%;
}

.marg1{
	margin:1em;
}

.height100{
	height: 100%;
}

.eighties{
	background-color: #000;
	color: #0F0;
	font-family: Consolas;
}

.form-terminal{
	background-color: #000!important;
    border: 1px solid #0F0;
    color: #0F0!important
}

.btn-custom, .btn-custom:hover{
	color: #000;
	font-weight: bold;
	background-color: #0f0;
    border-color: #0f0;
}

.green{
    background-color: #0f0;
    border-color: #0f0;
}

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid #0F0;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to { 
    visibility: hidden; 
  }
}


.tv._off .screen-content {
  -webkit-animation: shutdown 400ms linear;
  animation: shutdown 400ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tv._off .screen-content:after {
  -webkit-animation: shutdown-opa 400ms linear;
  animation: shutdown-opa 400ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tv._off .tv-panel__indicators SPAN { background: #8f8875; }

 @-webkit-keyframes 
shutdown {  0% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
 20% {
 -webkit-transform: scale3d(1, 1.6, 1);
 transform: scale3d(1, 1.6, 1);
}
 50% {
 -webkit-transform: scale3d(1, 0.005, 1);
 transform: scale3d(1, 0.005, 1);
}
 100% {
 -webkit-transform: scale3d(0, 0, 1);
 transform: scale3d(0, 0, 1);
}
}
 @keyframes 
shutdown {  0% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
 20% {
 -webkit-transform: scale3d(1, 1.6, 1);
 transform: scale3d(1, 1.6, 1);
}
 50% {
 -webkit-transform: scale3d(1, 0.005, 1);
 transform: scale3d(1, 0.005, 1);
}
 100% {
 -webkit-transform: scale3d(0, 0, 1);
 transform: scale3d(0, 0, 1);
}
}
@-webkit-keyframes 
shutdown-opa {  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 1;
}
}
@keyframes 
shutdown-opa {  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 1;
}
}
